<section class="prebooking-section">
  <div class="destination-wrapper">
    <h3 class="Destination-header">Your destination</h3>
    <div class="destination-body">
      <div class="location-container">
        <img
          class="vector-images"
          src="images/Vector (1).png"
          alt="Location icon"
        />
      </div>
      <div class="destination-text">
        <h4 class="country-name">France (Paris)</h4>
        <p class="tagline">The city of lights, love and timeless charm</p>
      </div>
    </div>
  </div>
  <div class="destination-date">
    <div class="destination-button">
      <button class="btn-book">Book trip</button>
    </div>
    <div class="location-container2">
      <img class="vector-images" src="images/Vector.png" alt="Date icon" />
      <p class="destination-date">6th - 15th August</p>
    </div>
  </div>
</section>
