<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>Destination</title>
  </head>
  <body>
    <div id="canada">
      <section class="hero">
        <h1 class="slogan">
          <div>Beyond the clouds,</div>
          <div>above expectations</div>
        </h1>
      </section>
      <section class="prebooking-section">
        <div class="destination-wrapper">
          <h3 class="Destination-header">Your destination</h3>
          <div class="destination-body">
            <div class="location-container">
              <img
                class="vector-images"
                src="/images/Vector (1).png"
                alt="Location icon"
              />
            </div>
            <div class="destination-text">
              <h4 class="country-name">Canada</h4>
              <p class="tagline">A vast and rugged land</p>
            </div>
          </div>
        </div>
        <div class="destination-date">
          <div class="destination-button">
            <button class="btn-book">Book trip</button>
          </div>
          <div class="location-container2">
            <img
              class="vector-images"
              src="/images/Vector.png"
              alt="calender icon"
            />
            <p class="destination-date">6th - 15th August</p>
          </div>
        </div>
      </section>
      <div class="grid-container">
        <div class="item1">
          <img src="/images/flag.png" alt="The canadian flag" />
        </div>
        <div class="item2">
          <img src="/images/canada-1.png" alt="A hand holding a dry leaf" />
        </div>
        <div class="item3">
          <img
            src="/images/canada-2.png"
            alt="A wooden cabin with tall trees behind it during winter"
          />
        </div>
        <div class="item4">
          <img
            src="/images/canada-3.png"
            alt="A person wearing a hat standing in front of a river"
          />
        </div>
        <div class="item5">
          <img
            src="/images/canada-4.png"
            alt="The city of toronto at night time, with 'toronto' in glowing lights "
          />
        </div>
        <div class="item6">
          <img
            src="/images/canada-5.png"
            alt="An aerial view of a city in canada during sunset"
          />
        </div>
      </div>
      <section class="list-container">
        <div class="overview-container">
          <h4 class="overview-heading">Overview</h4>
          <p class="overview-paragraph">
            Canada is vast, diverse country, the second largest in the world by
            area, known for its multicultural society, abundant natural
            resources, and strong economy.
          </p>
        </div>
        <div class="grid-items">
          <div>
            <h3 class="list-heading">Top Attractions</h3>
            <ul>
              <li>Niagra Falls</li>
              <li>Banff National Park</li>
              <li>Cities of Quebec City</li>
              <li>Montreal</li>
              <li>Vancouver</li>
            </ul>
          </div>
          <div>
            <h3 class="list-heading">Local Cuisines</h3>
            <ul>
              <li>Poutine (Quebec)</li>
              <li>Butter tarts</li>
              <li>Nanaimo bars</li>
              <li>Bannock</li>
              <li>Lobster Rolls</li>
              <li>Game meat</li>
            </ul>
          </div>
          <div>
            <h3 class="list-heading">Cultural Tips</h3>
            <ul>
              <li>Niagra Falls; Niagra Falls is a &nbsp; must-visit spot</li>
              <li>World's largest coastline</li>
            </ul>
          </div>
          <div>
            <h3 class="list-heading">Popular Shopping Spots</h3>
            <ul>
              <li>West Edmonton Mall</li>
              <li>Yorkdale Shopping Centre</li>
              <li>CF Toronto Eaton Centre</li>
            </ul>
          </div>
        </div>
        <section class="facts-holder">
          <h4 class="facts-heading">Did you Know ?</h4>
          <p class="overview-paragraph">
            In the 16th century, French and British settlers arrived. Land
            disputes between farmers and fur traders led to four wars between
            1689 and 1763. The final war, called the French and Indian war, left
            the British in control of Canada, but French influence continued and
            remains strong even today.
          </p>
        </section>
      </section>
    </div>
    <div id="london" class="hide">
      <section class="hero">
        <h1 class="slogan">
          <div>Beyond the clouds,</div>
          <div>above expectations</div>
        </h1>
      </section>
      <section class="prebooking-section">
        <div class="destination-wrapper">
          <h3 class="Destination-header">Your destination</h3>
          <div class="destination-body">
            <div class="location-container">
              <img
                class="vector-images"
                src="/images/Vector (1).png"
                alt="Location icon"
              />
            </div>
            <div class="destination-text">
              <h4 class="country-name">London (UK)</h4>
              <p class="tagline">
                A global hub for finance, culture and history
              </p>
            </div>
          </div>
        </div>
        <div class="destination-date">
          <div class="destination-button">
            <button class="btn-book">Book trip</button>
          </div>
          <div class="location-container2">
            <img
              class="vector-images"
              src="/images/Vector.png"
              alt="Date icon"
            />
            <p class="destination-date">6th - 15th August</p>
          </div>
        </div>
      </section>
      <div class="grid-container">
        <div class="item1">
          <img src="/images/london.png" alt="The london bridge" />
        </div>
        <div class="item2">
          <img src="/images/london-1.png" alt="A picture of Big ben" />
        </div>
        <div class="item3">
          <img
            src="/images/london-2.png"
            alt="A red phone booth near some bushes"
          />
        </div>
        <div class="item4">
          <img
            src="/images/london-3.png"
            alt="A red phone booth near a pesdestian lane"
          />
        </div>
        <div class="item5">
          <img src="/images/london-4.png" alt="Buckingham Palace" />
        </div>
        <div class="item6">
          <img
            src="/images/london-5.png"
            alt="Buckingham Palace with tourists walking towards it"
          />
        </div>
      </div>
      <section class="list-container">
        <div class="overview-container">
          <h4 class="overview-heading">Overview</h4>
          <p class="overview-paragraph">
            UK, is known for its iconic landmarks like the Towel of London,
            Buckingham palace, and the House of Parliament.
          </p>
        </div>
        <div class="grid-items">
          <div>
            <h3 class="list-heading">Top Attractions</h3>
            <ul>
              <li>The Tower of London</li>
              <li>Buckingham palace</li>
              <li>Westminster Abbey</li>
              <li>Tower Bridge</li>
              <li>Big ben</li>
              <li>The london eye</li>
            </ul>
          </div>
          <div>
            <h3 class="list-heading">Local Cuisines</h3>
            <ul>
              <li>Fish and Chips</li>
              <li>Sunday Roast</li>
              <li>Full English Breakfast</li>
              <li>Pie and mash</li>
              <li>Afternoon Tea</li>
              <li>Chicken tikka masala</li>
            </ul>
          </div>
          <div>
            <h3 class="list-heading">Cultural Tips</h3>
            <ul>
              <li>The Tower of London houses six ravens</li>
              <li>40.66% of the population being christians</li>
            </ul>
          </div>
          <div>
            <h3 class="list-heading">Popular Shopping Spots</h3>
            <ul>
              <li>Oxford Street</li>
              <li>Band Street</li>
              <li>Regent Street</li>
            </ul>
          </div>
        </div>
        <section class="facts-holder">
          <h4 class="facts-heading">Did you Know ?</h4>
          <p class="overview-paragraph">
            London is the capital of the United Kingdom, a country in western
            Europe. It is also the capital of England, which is part of the
            United Kingdom. London lies on the Thames River, it is the largest
            city in the country.
          </p>
        </section>
      </section>
    </div>
    <div id="paris" class="hide">
      <section class="hero">
        <h1 class="slogan">
          <div>Beyond the clouds,</div>
          <div>above expectations</div>
        </h1>
      </section>
      <section class="prebooking-section">
        <div class="destination-wrapper">
          <h3 class="Destination-header">Your destination</h3>
          <div class="destination-body">
            <div class="location-container">
              <img
                class="vector-images"
                src="/images/Vector (1).png"
                alt="Location icon"
              />
            </div>
            <div class="destination-text">
              <h4 class="country-name">France (Paris)</h4>
              <p class="tagline">The city of lights, love and timeless charm</p>
            </div>
          </div>
        </div>
        <div class="destination-date">
          <div class="destination-button">
            <button class="btn-book">Book trip</button>
          </div>
          <div class="location-container2">
            <img
              class="vector-images"
              src="/images/Vector.png"
              alt="Date icon"
            />
            <p class="destination-date">6th - 15th August</p>
          </div>
        </div>
      </section>
      <div class="grid-container">
        <div class="item1">
          <img
            src="/images/Eiffel-Tower-Paris-resized.jpg"
            alt="A picture of the eiffel-tower"
          />
        </div>
        <div class="item2">
          <img src="/images/paris-1.png" alt="The Louvre museum" />
        </div>
        <div class="item3">
          <img src="/images/paris-2.png" alt="Champs-Elysees" />
        </div>
        <div class="item4">
          <img
            src="/images/paris-3.png"
            alt="The interior of the Notre-Dome cathedral"
          />
        </div>
        <div class="item5">
          <img
            src="/images/paris-4.png"
            alt="A picture of Montmartre and Sacre arena"
          />
        </div>
        <div class="item6">
          <img src="/images/paris-5.png" alt="seine river" />
        </div>
      </div>
      <div class="content-holder">
        <section class="list-container">
          <div class="overview-container">
            <h4 class="overview-heading">Overview</h4>
            <p class="overview-paragraph">
              Paris, is known for its rich history in fashion, arts and
              gastronomy
            </p>
          </div>
          <div class="grid-items">
            <div>
              <h3 class="list-heading">Top Attractions</h3>
              <ul>
                <li>Eiffel tower</li>
                <li>Louvre Museum</li>
                <li>Notre-Dome cathedral</li>
                <li>Seline River cruise</li>
                <li>Montmartre & Sacre cruise</li>
                <li>Champs-Elysees</li>
              </ul>
            </div>
            <div>
              <h3 class="list-heading">Local Cuisines</h3>
              <ul>
                <li>Croissants & Baguettes</li>
                <li>Escargot</li>
                <li>Coq au Vin</li>
                <li>Creme Brulee</li>
                <li>Crepes</li>
                <li>Macarons</li>
              </ul>
            </div>
            <div>
              <h3 class="list-heading">Cultural Tips</h3>
              <ul>
                <li>Greet with light kiss on each cheek</li>
                <li>Lean basic french greetings</li>
              </ul>
            </div>
            <div>
              <h3 class="list-heading">Popular Shopping Spots</h3>
              <ul>
                <li>Champs Elysees</li>
                <li>Le marais</li>
                <li>Galeries Lafayette</li>
              </ul>
            </div>
          </div>
          <section class="facts-holder">
            <h4 class="facts-heading">Did you Know ?</h4>
            <p class="overview-paragraph">
              Paris has over 30 bridges that cross across the seine river, and
              one of the one of the most romantic ones,
              <a class="link" href="https://en.wikipedia.org/wiki/Pont_des_Arts"
                >Pont des Arts</a
              >, used to be famous for lovers attaching padlocks to it before
              the city removed them in 2025 due to weight damage
            </p>
          </section>
        </section>
      </div>
    </div>
  </body>
</html>
