<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>Canada</title>
  </head>
  <body>
    <section class="hero">
      <h1 class="slogan">
        <div>Beyond the clouds,</div>
        <div>above expectations</div>
      </h1>
    </section>
    <section class="prebooking-section">
      <div class="destination-wrapper">
        <h3 class="Destination-header">Your destination</h3>
        <div class="destination-body">
          <div class="location-container">
            <img
              class="vector-images"
              src="/images/Vector (1).png"
              alt="Location icon"
            />
          </div>
          <div class="destination-text">
            <h4 class="country-name">Canada</h4>
            <p class="tagline">A vast and rugged land</p>
          </div>
        </div>
      </div>
      <div class="destination-date">
        <div class="destination-button">
          <button class="btn-book">Book trip</button>
        </div>
        <div class="location-container2">
          <img
            class="vector-images"
            src="/images/Vector.png"
            alt="calender icon"
          />
          <p class="destination-date">6th - 15th August</p>
        </div>
      </div>
    </section>
    <div class="grid-container">
      <div class="item1">
        <img src="/images/flag.png" alt="The canadian flag" />
      </div>
      <div class="item2">
        <img src="/images/canada-1.png" alt="A hand holding a dry leaf" />
      </div>
      <div class="item3">
        <img
          src="/images/canada-2.png"
          alt="A wooden cabin with tall trees behind it during winter"
        />
      </div>
      <div class="item4">
        <img
          src="/images/canada-3.png"
          alt="A person wearing a hat standing in front of a river"
        />
      </div>
      <div class="item5">
        <img
          src="/images/canada-4.png"
          alt="The city of toronto at night time, with 'toronto' in glowing lights "
        />
      </div>
      <div class="item6">
        <img
          src="/images/canada-5.png"
          alt="An aerial view of a city in canada during sunset"
        />
      </div>
    </div>
    <section class="list-container">
      <div class="overview-container">
        <h4 class="overview-heading">Overview</h4>
        <p class="overview-paragraph">
          Canada is vast, diverse country, the second largest in the world by
          area, known for its multicultural society, abundant natural resources,
          and strong economy.
        </p>
      </div>
      <div class="grid-items">
        <div>
          <h3 class="list-heading">Top Attractions</h3>
          <ul>
            <li>Niagra Falls</li>
            <li>Banff National Park</li>
            <li>Cities of Quebec City</li>
            <li>Montreal</li>
            <li>Vancouver</li>
          </ul>
        </div>
        <div>
          <h3 class="list-heading">Local Cuisines</h3>
          <ul>
            <li>Poutine (Quebec)</li>
            <li>Butter tarts</li>
            <li>Nanaimo bars</li>
            <li>Bannock</li>
            <li>Lobster Rolls</li>
            <li>Game meat</li>
          </ul>
        </div>
        <div>
          <h3 class="list-heading">Cultural Tips</h3>
          <ul>
            <li>Niagra Falls; Niagra Falls is a &nbsp; must-visit spot</li>
            <li>World's largest coastline</li>
          </ul>
        </div>
        <div>
          <h3 class="list-heading">Popular Shopping Spots</h3>
          <ul>
            <li>West Edmonton Mall</li>
            <li>Yorkdale Shopping Centre</li>
            <li>CF Toronto Eaton Centre</li>
          </ul>
        </div>
      </div>
      <section class="facts-holder">
        <h4 class="facts-heading">Did you Know ?</h4>
        <p class="overview-paragraph">
          In the 16th century, French and British settlers arrived. Land
          disputes between farmers and fur traders led to four wars between 1689
          and 1763. The final war, called the French and Indian war, left the
          British in control of Canada, but French influence continued and
          remains strong even today.
        </p>
      </section>
    </section>
  </body>
</html>
