<section class="list-container">
  <div class="overview-container">
    <h4 class="overview-heading">Overview</h4>
    <p class="overview-paragraph">
      Paris, is known for its rich history in fashion, arts and gastronomy
    </p>
  </div>
  <div class="grid-items">
    <div>
      <h3 class="list-heading">Top Attractions</h3>
      <ul>
        <li>Eiffel tower</li>
        <li>Louvre Museum</li>
        <li>Notre-Dome cathedral</li>
        <li>Seline River cruise</li>
        <li>Montmartre & Sacre cruise</li>
        <li>Champs-Elysees</li>
      </ul>
    </div>
    <div>
      <h3 class="list-heading">Local Cuisines</h3>
      <ul>
        <li>Croissants & Baguettes</li>
        <li>Escargot</li>
        <li>Coq au Vin</li>
        <li>Creme Brulee</li>
        <li>Crepes</li>
        <li>Macarons</li>
      </ul>
    </div>
    <div>
      <h3 class="list-heading">Cultural Tips</h3>
      <ul>
        <li>Greet with light kiss on each cheek</li>
        <li>Lean basic french greetings</li>
      </ul>
    </div>
    <div>
      <h3 class="list-heading">Popular Shopping Spots</h3>
      <ul>
        <li>Champs Elysees</li>
        <li>Le marais</li>
        <li>Galeries Lafayette</li>
      </ul>
    </div>
  </div>
  <h4 class="facts-heading">Did you Know ?</h4>
  <p class="overview-paragraph">
    Paris has over 30 bridges that cross across the seine river, and one of the
    one of the most romantic ones,
    <a class="link" href="https://en.wikipedia.org/wiki/Pont_des_Arts"
      >Pont des Arts</a
    >, used to be famous for lovers attaching padlocks to it before the city
    removed them in 2025 due to weight damage
  </p>
</section>
